{% extends "layout.html" %}
{% block content %}
  {# <form action="{{ url_for('post_list') }}" method="POST">
    <input type="text" name="keyword" id="keyword" placeholder="keyword" value="{{ keyword }}"/>
    <input type="submit" value="送信"/>
  </form> #}
  {% with posts = posts %}
  {% include 'snippets/posts.html'%}
  {% endwith %}
  <button class="fab" onclick="openNewPostModal()">
    <i class="material-icons">
      photo_album
    </i>
    投稿する
  </button>
  <div id="new-post-modal" class="new-post-modal">
    <div class="new-post-modal-overlay" onclick="closeNewPostModal()"></div>
    <form class="new-post-modal-content" id="new-post-modal-content" method="POST" enctype="multipart/form-data" action="{{ url_for('new_post')}}">
      <div class="category-section">
        <button type="button" class="category-option" id="pets-category-button" onclick="onSelectCategory('pets')">
          <span class="material-icons">
            pets
          </span>
        </button>
        <button type="button" class="category-option" id="elderly-category-button" onclick="onSelectCategory('elderly')">
          {# TODO: 四葉マークくらいに差し替えたい #}
          <span class="material-icons">
            elderly
          </span>
        </button>
        <button type="button" class="category-option" id="wheelchair-category-button" onclick="onSelectCategory('wheelchair')">
          <span class="material-icons">
            accessible
          </span>
        </button>
        <input name="category" class="sr-only" id="plan-category"></input>
      </div>
      <div class="spot-section">
        {% for id in[1, 2, 3, 4, 5] %}
          <button type="button" class="spot-card not-added" id="spot-card-{{id}}" onclick="openEditModal({{id}})">
            <div class="spot-card-img-section">
              <img src="" class="spot-img-top"/>
            </div>
            <div class="spot-card-body-section">
              <h2 class="spot-card-title"></h2>
              <p class="spot-card-description"></p>
            </div>
          </button>
          <div class="spot-edit-modal" id="spot-edit-modal-{{id}}">
            <label class="spot-edit-modal-img-wrapper" for="spot-{{id}}-image">
              <input type="file" accept="image/*" name="spot-{{id}}-image" id="spot-{{id}}-image" class="spot-edit-modal-input" onchange="onSelectSpotImage(this, {{id}})"></input>
              <img src="" class="spot-edit-modal-img" id="spot-edit-modal-img-{{id}}"/>
              <div class="spot-edit-modal-filter"></div>
              <div class="spot-edit-modal-img-button">画像を変更する</div>
            </label>
            <label for="spot-title-input-{{id}}">タイトル</label>
            <input type="text" name="spot-{{id}}-title" class="spot-content-input spot-title-input" id="spot-title-input-{{id}}" placeholder="タイトル"></input>
            <label for="spot-description-input-{{id}}">説明</label>
            <textarea type="text" name="spot-{{id}}-description" class="spot-content-input spot-description-input" id="spot-description-input-{{id}}" placeholder="説明"></textarea>
            <button type="button" class="spot-edit-modal-button" onclick="completeEditModal({{id}})">OK</button>
            <button type="button" class="spot-edit-modal-button cancel-button" onclick="closeEditModal({{id}})">キャンセル</button>
          </div>
        {% endfor %}

        <button type="button" class="spot-card spot-add-button" onclick="openEditModal()">
          <span class="material-icons">
            add_circle_outline
          </span>
          スポットを追加する
        </button>
      </div>
      <div class="new-post-inpua-area">
        <label for="plan-title">プラン名</label>
        <input type="text" id="plan-title" name="title" placeholder="プラン名"></input>

        <label for="plan-description">プランの説明</label>
        <textarea type="text" id="plan-description" name="content" placeholder="プランの説明"></textarea>
      </div>
      <button class="spot-edit-modal-button" onclick="">投稿する</button>
    </form>
  </div>
{% endblock content %}
