{% extends "layout.html" %}
{% block content %}
    <img class="rounded-circle account-img" src="{{ image_path }}">
    <div>{{ user.username }}-{{ user.email }}</div>
    <div>紹介文{{ user.profile_id.content }}-場所{{ profile.location }}</div>
    <div>follower-{{ user.followers.count() }}</div>
    <div>follow-{{ user.followed.count() }}</div>

    {% if current_user == user %}
        <div><a href="{{ url_for('edit_profile', user_id=user.id) }}">プロフィール編集</a></div>
    {% elif not current_user.is_following(user) %}
        <form action="{{ url_for('user_handle_action', user_id=user.id)}}" method='POST'>
                <button class="btn btn-secondary" type="submit">follow</button>
        </form>
    {% else %}
        <form action="{{ url_for('user_handle_action', user_id=user.id)}}" method='POST'>
            <button class="btn btn-secondary" type="submit">unfollow</button>
        </form>
    {% endif %}

    {% for post in posts %}
        <div>{{post.title}}</div>
        <div>{{post.timestamp}}</div>
        {% for child in post.post_child %}
            <div>投稿内容：{{child.content}}</div>
        {% endfor %}
    {% endfor %}
{% endblock content %}