{% extends "layout.html" %}
{% block content %}
    <img src="{{image_path}}" class="card-img-top w-25 p-3 h-25 d-inline-block">
    <div>{{ user.username }}-{{ user.email }}</div>
    <div>紹介文{{ user.profile_id.content }}</div>
    <div><a href="{{ url_for('user_follower_list', user_id=user.id)}}">follower-{{ user.followers.count() }}</a></div>
    <div> <a href="{{ url_for('user_followed_list', user_id=user.id) }}">follow-{{ user.followed.count() }}</a></div>

    {% if current_user == user %}
        <div><a href="{{ url_for('edit_profile', user_id=user.id) }}">プロフィール編集</a></div>
    {% elif not current_user.is_following(user) %}
        <form action="{{ url_for('user_handle_action', user_id=user.id)}}" method='POST'>
                <button class="btn btn-success" type="submit">follow</button>
        </form>
    {% else %}
        <form action="{{ url_for('user_handle_action', user_id=user.id)}}" method='POST'>
            <button class="btn btn-danger" type="submit">unfollow</button>
        </form>
    {% endif %}

    {% with posts=posts %}
    {% include 'snippets/posts.html'%}
    {% endwith %}
{% endblock content %}